<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="blog-49006_640.webp" alt="">

		<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include "partials/header.html.twig" %}
		<div style="padding:10px"> {% block body %}{% endblock %}
			<div>
				{% include "partials/footer.html.twig" %}
			</body>
		</html>
	</body>
</html>
